# langchain
langchain==0.3.19
langgraph==0.3.5
langchain-openai==0.3.7
langchain-groq==0.2.4
langchain-core==0.3.45
langchain-community==0.3.18

# HTTP / API
fastapi==0.115.8
uvicorn[standard]==0.34.0
httpx==0.28.1

# Config
pydantic==2.10.6
pydantic-settings==2.8.0
python-dotenv==1.0.1

# Dev
flake8==7.1.2
black==25.1.0
